In [42]:
import pandas as pd
import requests
import zipfile

In [43]:
periodo = ['202304','202305','202306','202307','202308','202309','202310','202311','202312','202401','202402','202403']
url_base = "https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_{}.zip"

base_diaria_fundos = pd.DataFrame({"CNPJ_FUNDO": [], "DT_COMPTC": [], "VL_QUOTA": []})

In [44]:
for mes in periodo:
    # realizar a requisição na URL formatada acima
    requisicao_arquivo = requests.get(url_base.format(mes))
    print(requisicao_arquivo)
    
    with open (f"inf_diario_fi_{mes}.zip", "wb") as arquivo_zipado:
        arquivo_zipado.write(requisicao_arquivo.content)
    
    arquivo_zip = zipfile.ZipFile(f"inf_diario_fi_{mes}.zip")

    # Será aberto o arquivo zip para ter acesso ao CSV dentro dele:
    arquivo_nao_zipado = arquivo_zip.open(arquivo_zip.namelist()[0])
    
    # Será criada uma variavel contendo a base de dados
    base_dados = pd.read_csv(arquivo_nao_zipado, sep = ";", encoding= 'ISO-8859-1')

    # Essa base de dados será extraída as colunas que se quer trabalhar apenas e concatenada com a principal
    base_diaria_fundos = pd.concat([base_diaria_fundos, base_dados[["CNPJ_FUNDO","DT_COMPTC","VL_QUOTA"]]])

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [48]:
base_diaria_fundos

                CNPJ_FUNDO   DT_COMPTC   VL_QUOTA
0       00.017.024/0001-53  2023-04-03  31.844299
1       00.017.024/0001-53  2023-04-04  31.857391
2       00.017.024/0001-53  2023-04-05  31.870794
3       00.017.024/0001-53  2023-04-06  31.884606
4       00.017.024/0001-53  2023-04-10  31.898214
...                    ...         ...        ...
516915  97.929.213/0001-34  2024-03-22  11.846756
516916  97.929.213/0001-34  2024-03-25  11.854106
516917  97.929.213/0001-34  2024-03-26  11.850093
516918  97.929.213/0001-34  2024-03-27  11.860406
516919  97.929.213/0001-34  2024-03-28  11.869528

[6270894 rows x 3 columns]